[init]
    defaultBranch = master
[credential]
    helper = 
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = yellow bold 52
    newNormal = green bold
    newHighlight = cyan bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse
[commit]
    gpgSign = true
    template = 
[core]
    pager = delta
    editor = hx
    excludesfile = 
    attributesfile = 
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
    untrackedCache = true
[delta]
    navigate = true
    dark = true
[diff]
    submodule = log
[gpg]
    program =
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
[push]
    default = simple
    followTags = true
[status]
    showUntrackedFiles = all
[user]
    email =
    name =
    signingKey = 